In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [6]:
database = pd.read_excel("logistic_regression_data.xlsx")
database.head(5)

   Age  Salary  Purchased
0   56   28392          0
1   46   50535          1
2   32   98603          0
3   25   72256          1
4   38  109135          1

In [14]:
database.shape

(100, 3)

In [8]:
x = database.iloc[:, 0:-1]
y = database["Purchased"]

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [12]:
x_test.shape, x_train.shape

((25, 2), (75, 2))

In [13]:
y_test.shape, y_train.shape

((25,), (75,))