In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [3]:
database = pd.read_excel("SVM_linear_separable_data.xlsx")
database.head(5)

       Data1      Data2  Score
0  37.454012   3.142919      0
1  95.071431  63.641041      1
2  73.199394  31.435598      1
3  59.865848  50.857069      1
4  15.601864  90.756647      1

In [4]:
x = database.iloc[:,:-1]
y = database["Score"]

In [5]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression

In [11]:
New_data = cross_val_score(LinearRegression(), x, y, cv=10)

In [12]:
New_data.sort()
New_data

array([0.43922841, 0.5272469 , 0.53157353, 0.5724372 , 0.58534624,
       0.62694938, 0.6544059 , 0.66264051, 0.70708526, 0.78843568])

In [6]:
# from sklearn.model_selection import LeaveOneOut, LeavePOut, KFold, StratifiedKFold