In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
database = pd.read_excel("apriori_groceries.xlsx")
database.head(5)

,Apple,Banana,Beef,Biscuits,Bread,Butter,Carrot,Cereal,Cheese,Chicken,...,Onion,Orange,Pasta,Potato,Rice,Salt,Sugar,Tea,Tomato,Yogurt
0,1,0,0,0,0,0,0,1,0,0,...,1,0,0,1,0,0,0,0,1,1
1,0,0,0,0,1,0,0,1,1,0,...,0,0,0,0,0,1,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [ ]:
database.shape
25

(50, 27)

In [4]:
database.isnull().sum()

Apple       0
Banana      0
Beef        0
Biscuits    0
Bread       0
Butter      0
Carrot      0
Cereal      0
Cheese      0
Chicken     0
Chips       0
Coffee      0
Eggs        0
Fish        0
Juice       0
Milk        0
Oil         0
Onion       0
Orange      0
Pasta       0
Potato      0
Rice        0
Salt        0
Sugar       0
Tea         0
Tomato      0
Yogurt      0
dtype: int64

In [5]:
import collections

In [7]:
collections.Counter(database)

Counter({'Apple': 1,
         'Banana': 1,
         'Beef': 1,
         'Biscuits': 1,
         'Bread': 1,
         'Butter': 1,
         'Carrot': 1,
         'Cereal': 1,
         'Cheese': 1,
         'Chicken': 1,
         'Chips': 1,
         'Coffee': 1,
         'Eggs': 1,
         'Fish': 1,
         'Juice': 1,
         'Milk': 1,
         'Oil': 1,
         'Onion': 1,
         'Orange': 1,
         'Pasta': 1,
         'Potato': 1,
         'Rice': 1,
         'Salt': 1,
         'Sugar': 1,
         'Tea': 1,
         'Tomato': 1,
         'Yogurt': 1})