In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
database = pd.read_excel("Naive_Bayes.xlsx")
database.head(100)

,Age,YearsExperience,Education,SkillsScore,CertCount,PrevCompanyTier,InterviewScore,Salary,SalaryCategory,Suitable
0,49,9,1,64,3,1,6.6,56566.87,0,1
1,35,12,1,57,1,1,6.3,55439.70,0,1
2,28,18,0,38,1,1,8.3,54473.33,0,1
3,41,6,0,70,1,1,6.9,40840.42,1,1
4,39,16,0,59,0,1,7.0,61800.08,0,1
...,...,...,...,...,...,...,...,...,...,...
95,34,10,1,81,2,2,6.1,51082.77,2,1
96,47,17,0,38,2,0,2.5,55120.30,0,1
97,29,9,0,58,0,1,6.4,43053.85,1,0
98,35,2,0,83,2,2,6.2,39605.45,1,1
99,35,6,0,47,0,0,7.5,38620.02,1,1

In [3]:
x = database.iloc[:, :-1]
y = database["Suitable"]

In [4]:
from sklearn.preprocessing import StandardScaler

In [5]:
ss = StandardScaler()
x = pd.DataFrame(ss.fit_transform(x))

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [12]:
# %pip install tensorflow keras
import tensorflow as tf
from keras.layers import Dense, BatchNormalization
from keras.callbacks import EarlyStopping
from keras.regularizers import L2
from keras.models import Sequential

In [13]:
ann = Sequential()

In [22]:
ann.add(Dense(6, activation="relu",  kernel_regularizer=L2(l2 = 0.01), input_dim=9))
ann.add(BatchNormalization())
ann.add(Dense(4, activation="relu", kernel_regularizer=L2(l2 = 0.01)))
ann.add(BatchNormalization())
ann.add(Dense(2, activation="relu", kernel_regularizer=L2(l2 = 0.01)))
ann.add(BatchNormalization())
ann.add(Dense(1, activation="sigmoid",kernel_regularizer=L2(l2 = 0.01)))

c:\Users\Hp\AppData\Local\Programs\Python\Python313\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [23]:
ann.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [24]:
ann.fit(x_train, y_train, batch_size=32, epochs=10, validation_data=(x_test, y_test), callbacks=EarlyStopping())

Epoch 1/10

3/3 ━━━━━━━━━━━━━━━━━━━━ 9s 390ms/step - accuracy: 0.7125 - loss: 1.0321 - val_accuracy: 0.0500 - val_loss: 0.9820
Epoch 2/10
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 45ms/step - accuracy: 0.7250 - loss: 1.0001 - val_accuracy: 0.0500 - val_loss: 0.9767
Epoch 3/10
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 56ms/step - accuracy: 0.7625 - loss: 0.9721 - val_accuracy: 0.0500 - val_loss: 0.9701
Epoch 4/10
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 53ms/step - accuracy: 0.7750 - loss: 0.9857 - val_accuracy: 0.0500 - val_loss: 0.9636
Epoch 5/10
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 55ms/step - accuracy: 0.7125 - loss: 0.9843 - val_accuracy: 0.7000 - val_loss: 0.9572
Epoch 6/10
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 54ms/step - accuracy: 0.7000 - loss: 0.9689 - val_accuracy: 0.8500 - val_loss: 0.9506
Epoch 7/10
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 51ms/step - accuracy: 0.7375 - loss: 0.9683 - val_accuracy: 0.9500 - val_loss: 0.9442
Epoch 8/10
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 57ms/step - accuracy: 0.7125 - loss: 0.9723 - val_accuracy: 0.9500 - val_loss: 0.9385
Epoch 9/10
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 140ms/step - accuracy: 0.7125 - loss: 0.9465 - val_accuracy: 0.9500 - val_loss: 0.9326
Epoch 10/10
3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 50ms/step - accuracy: 0.7125 - loss: 0.9740 - val_accuracy: 0.9500 - val_loss: 0.9274

In [25]:
prd1 = ann.predict(x_train)
prd_data1 = []
for i in prd1:
    if i[0] > 0.5:
        prd_data1.append(1)
    else:
        prd_data1.append(0)

3/3 ━━━━━━━━━━━━━━━━━━━━ 1s 154ms/step

In [26]:
prd = ann.predict(x_test)
prd_data = []
for i in prd:
    if i[0] > 0.5:
        prd_data.append(1)
    else:
        prd_data.append(0)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 71ms/step

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
accuracy_score(y_test, prd_data)*100

95.0

In [29]:
accuracy_score(y_train, prd_data1)*100

87.5

95.0